<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.inei.appindicadorinei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Main_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Indicador_Data_M8_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M7_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M3_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M6_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M5_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M2_M4_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M2_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M1_M1_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M3_M5_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M3_M9_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M11_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M10_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M8_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".activities.Indicador_Data_M7_Activity"
        android:label="@string/app_name3"
        android:parentActivityName=".activities.Indicador_Search_Activity"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M6_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M5_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M3_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M2_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_M1_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Data_Activity"
            android:label="@string/app_name3"
            android:parentActivityName=".activities.Indicador_Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Search_Activity"
            android:label="@string/app_name4"
            android:parentActivityName=".activities.Main_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Indicador_Search_Activity"
            android:label="@string/app_name2"
            android:parentActivityName=".activities.Main_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Home_Activity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>